/*+++++++++ Navigation +++++++++++*/

.all_sub_menu {
    width: 584%;
}

.all_sub_menu .all_links .link1 ul li {
    padding: 14px;
}

.all_sub_menu .all_links .link2 ul li {
    padding: 14px;
}

/*+++++++++ Features +++++++++++*/


.all_fea {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.all_fea .ghil .tts::before {
    top: -54%;
    right: 0;
    border-width: 234px 641px;
}

/*+++++++++ PRICING PLANS +++++++++++*/


.all_pricing {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.all_pricing .plan:nth-child(2)::after {
    top: 15.5%;
}